<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta
      name="description"
      content="ServiceNow Greatest of all Time - SNOW GOATS"
    />
    <meta name="author" content="Tommy Ryan - Sorry Not Sorry" />

    <title>SNOW GOAT - ServiceNow Greatest Of All Time</title>

    <!-- Favicon -->
    <link
      rel="shortcut icon"
      type="image/x-icon"
      href="/img/favicons/favicon.ico"
    />
    <link rel="apple-touch-icon" href="/img/favicons/apple-touch-icon.png" />

    <!-- Bootstrap core CSS -->
    <link href="npm:bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />

    <!-- Custom fonts for this template -->
    <link
      href="npm:font-awesome/css/font-awesome.min.css"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Montserrat:400,700"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic"
      rel="stylesheet"
      type="text/css"
    />

    <!-- Custom styles for this template -->
    <link href="scss/snowgoat.scss" rel="stylesheet" />
  </head>

  <body>
    <!-- Navigation -->
    <nav
      class="navbar navbar-expand-lg bg-secondary sticky-top text-uppercase"
      id="mainNav"
    >
      <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="#">Snow Goat</a>
        <button
          class="navbar-toggler navbar-toggler-right text-uppercase bg-primary text-white rounded"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarResponsive"
          aria-controls="navbarResponsive"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          Menu
          <i class="fa fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item mx-0 mx-lg-1">
              <a
                class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger"
                href="#goats"
                >Snow GOATs</a
              >
            </li>
            <li class="nav-item mx-0 mx-lg-1">
              <a
                class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger"
                href="#about"
                >About</a
              >
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Header -->
    <header class="masthead bg-primary text-white text-center">
      <div class="container">
        <img
          class="img-fluid mb-5 d-block mx-auto"
          src="img/goats/marty.png"
          alt="Marty"
        />
        <h1 class="text-uppercase mb-0">Snow Goat</h1>
        <hr class="star-light" />
        <h2 class="font-weight-light mb-0">
          The Official Online Home of the Original Service Now Greatest Of All
          Time (SNOW GOAT):
          <b>Martin Beals</b>
        </h2>
      </div>
    </header>

    <!-- Achievements Grid Section -->
    <section class="goats" id="goats">
      <div class="container">
        <h2 class="text-center text-uppercase text-secondary mb-0">
          SNOW GOATs
        </h2>
        <hr class="star-dark mb-5" />
        <div class="row">
          <% locals.goats.map(goat => { %>
          <div class="col-md-6 col-lg-4">
            <a
              class="goats-item d-block mx-auto"
              href="#<%= locals.slugify(goat.name) %>"
            >
              <div
                class="goats-item-caption d-flex position-absolute h-100 w-100"
              >
                <div
                  class="goats-item-caption-content my-auto w-100 text-center text-white"
                >
                  <i class="fa fa-search-plus fa-3x"></i>
                </div>
              </div>
              <picture>
                <source
                  srcset="<%= goat.image %>?as=avif&width=400"
                  type="image/avif"
                />
                <source
                  srcset="<%= goat.image %>?as=webp&width=400"
                  type="image/webp"
                />
                <img
                  class="img-fluid cover"
                  src="<%= goat.image %>?as=jpeg&width=400"
                  alt="<%= goat.name %>"
                />
              </picture>
            </a>
          </div>
          <% }) %>
        </div>
      </div>
    </section>

    <!-- About Section -->
    <section class="bg-primary text-white mb-0" id="about">
      <div class="container">
        <h2 class="text-center text-uppercase text-white">About</h2>
        <hr class="star-light mb-5" />
        <div class="row">
          <div class="col-lg-4 ml-auto">
            <p class="lead">
              The Snow GOAT is an honor bestowed only to the greatest of Snow
              legends. <b>Martin Beals</b>, current reigning Snow GOAT, combines
              the strengths of Michael Jordan, Elon Musk, and Bill Murray with
              none of their flaws.
            </p>
          </div>
          <div class="col-lg-4 ml-auto">
            <p class="lead">
              Realizing that there are many other ServiceNowians that are also
              awesome like Marty we decided to open it up to everyone. Will you
              get a piece of acrylic? Probably not. Will you be emblazoned on a
              static website until we forget to renew the domain? Most
              definitely.
            </p>
          </div>
          <div class="col-lg-4 mr-auto">
            <p class="lead">
              Do you have what it takes to be the next Snow GOAT? Want to
              nominate a SNOW GOAT?
              <a
                href="https://github.com/tallboy/snowgo.at"
                class="darklink fw-bold"
                >Submit your nominations at GitHub!</a
              >
            </p>
          </div>
        </div>
      </div>
    </section>

    <!-- Footer -->
    <footer class="footer text-center">
      <div class="container">
        <div class="row">
          <div class="col-md-4 mb-5 mb-lg-0">
            <h3 class="text-uppercase mb-4">Location</h3>
            <p class="lead mb-0">
              <a
                href="https://goo.gl/maps/g2FiHrdeL7NXTRRF9"
                target="_blank"
                rel="noopener noreferrer"
              >
                4810 Eastgate Mall Dr <br />San Diego, CA 92121
              </a>
            </p>
          </div>
          <div class="col-md-4 mb-5 mb-lg-0">
            <h3 class="text-uppercase mb-4">Around the Web</h3>
            <ul class="list-inline mb-0">
              <li class="list-inline-item">
                <a
                  class="btn btn-outline-light btn-social text-center rounded-circle"
                  href="https://twitter.com/servicenow"
                >
                  <i class="fa fa-fw fa-twitter" title="Twitter"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a
                  class="btn btn-outline-light btn-social text-center rounded-circle"
                  href="https://www.instagram.com/lifeatnow"
                >
                  <i class="fa fa-fw fa-instagram" title="Instagram"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a
                  class="btn btn-outline-light btn-social text-center rounded-circle"
                  href="https://www.twitch.tv/servicenowdevprogram"
                >
                  <i class="fa fa-fw fa-twitch" title="Twitch"></i>
                </a>
              </li>
            </ul>
          </div>
          <div class="col-md-4">
            <h3 class="text-uppercase mb-4">About SNOWGO.AT</h3>
            <p class="lead mb-0">
              This is a tribute page to some of our favorite people at
              ServiceNow.
              <br /><small>Fan fiction coming soon&hellip;</small>
            </p>
          </div>
        </div>
      </div>
    </footer>

    <div class="copyright py-4 text-center text-white">
      <div class="container">
        <small
          >Copyright &copy; Snow Goat
          <script>
            document.write(new Date().getFullYear());
          </script>
          - Made with &hearts; in San Diego</small
        >
      </div>
    </div>

    <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
    <div class="scroll-to-top d-lg-none">
      <a
        class="js-scroll-trigger d-block text-center text-white rounded"
        href="#"
      >
        <i class="fa fa-chevron-up"></i>
      </a>
    </div>

    <!-- goats Modals -->
    <% locals.goats.map(goat => { %>
    <dialog class="goats-modal" id="<%= locals.slugify(goat.name) %>">
      <form class="goats-modal-dialog bg-white" method="dialog">
        <button
          type="submit"
          class="close-button btn btn-link d-none d-md-block goats-modal-dismiss"
        >
          <i class="fa fa-3x fa-times"></i>
        </button>
        <div class="container text-center">
          <div class="row">
            <div class="col-lg-8 mx-auto">
              <h2 class="text-secondary text-uppercase mb-0">
                <%= goat.name %>
              </h2>
              <hr class="star-dark mb-5" />
              <picture>
                <source srcset="<%= goat.image %>?as=avif" type="image/avif" />
                <source srcset="<%= goat.image %>?as=webp" type="image/webp" />
                <img
                  class="img-fluid mb-5"
                  src="<%= goat.image %>?as=jpeg"
                  alt="<%= goat.name %>"
                />
              </picture>
              <p class="mb-5"><%- goat.description %></p>
              <button
                type="submit"
                class="btn btn-primary btn-lg rounded-pill goats-modal-dismiss"
              >
                <i class="fa fa-close"></i>
                Bye Goat
              </button>
            </div>
          </div>
        </div>
      </form>
    </dialog>
    <% }) %>

    <script type="module" src="js/snowgoat.js"></script>
  </body>
</html>
